.item {
  padding: 20px;
}

.item:last-of-type {
}

.users {
  padding: 20px;
}

.buttonsContainer {
}

.container {
}

.thead {
  margin-bottom: 20px;
}

.nameCol {
  width: 300px;
}

.ageCol {
  margin-left: 200px;
}
