.spanBlock {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.span {
  margin-left: 10px;
  color: #0080ff;
}

.input {
  max-width: 245px;
  margin-bottom: 15px;
}

.pen {
}
